@import './conf.scss';

.tab-only-compact {
  margin: 0;
  padding: 0;
  font-size: 0;
  overflow: hidden;

  .tab-item {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -1px;
    border-radius: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    overflow: hidden;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }

    &:hover {
      position: relative;
      z-index: 1;
    }

    &.cur-tab {
      position: relative;
      z-index: 1;

      .tab-button {
        border-color: #3a84ff;
        color: #3a84ff;
      }
    }

    .tab-button {
      display: block;
      padding: 0 15px;
      height: 36px;
      line-height: 34px;
      border: 1px solid #c4c6cc;
      color: #63656e;
      background: #fff;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #3a84ff;
        border-color: #3a84ff;
      }
    }
  }
}

.log-version {
  .detail-container {
    p {
      padding-top: 10px;
    }

    ul {
      padding-left: 20px;

      li {
        list-style-type: disc
      }
    }
  }
}

.locker-style {
  section {
    background-color: #313238 !important;

    >div:nth-child(1) {
      height: 50px;

      >div:nth-child(1) {
        height: 50px;
        line-height: 50px;
      }

      >div:nth-child(2) {
        height: 50px;
        line-height: 50px;
        color: #737987;
        font-size: 14px;

        >div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            margin-right: 20px;
            display: inline-block;
            width: 68px;
            height: 32px;
            border: 1px solid #c4c6cc;
            line-height: 32px;
            text-align: center;
            color: #737987;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.option-slot-container {
  padding: 8px 0;
  min-height: 32px;
  line-height: 14px;

  &.no-authority {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c4c6cc;
    cursor: not-allowed;

    .text {
      width: calc(100% - 56px);
    }

    .apply-text {
      flex-shrink: 0;
      display: none;
      color: #3a84ff;
      cursor: pointer;
    }

    &:hover .apply-text {
      display: flex;
    }
  }
}
