.condition-stylex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  > div:nth-child(1) {
    display: flex;

    .the-column {
      > div {
        margin-right: 2px;
        background-color: #f0f1f5;
        padding: 0 5px;
        border-radius: 2px;
        color: #63656e;
        text-align: center;
        margin-top: 16px;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
      }

      :nth-child(1) {
        /* stylelint-disable-next-line declaration-no-important */
        margin-top: 0 !important;
      }
    }

    :nth-child(2) {
      > div {
        width: 225px;
        position: relative;
        height: 20px;
        margin-top: 16px;

        :nth-child(1) {
          position: absolute;
          left: 5px;
          padding: 0 5px;
          z-index: 100;

          /* stylelint-disable-next-line declaration-no-important */
          margin-right: 0 !important;
          text-align: center;
          max-width: 200px;
          min-width: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 14px;
        }

        .line-sty {
          position: absolute;
          bottom: 10px;
          right: 0;
          height: 36px;
          width: 180px;
          border-bottom: 1px dashed #c4c6cc;
          border-right: 1px dashed #c4c6cc;
        }
      }

      :nth-child(1) {
        /* stylelint-disable-next-line declaration-no-important */
        margin-top: 0 !important;
      }
    }
  }

  .line-styy {
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 36px;
    width: 180px;
    border-bottom: 1px dashed #c4c6cc;
  }

  .line-styx {
    width: 20px;
    height: 0;
    border-bottom: 1px dashed #c4c6cc;
  }

  .con-text {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }
}
