@import './mixins/scroller.scss';

// 浏览器重置样式
* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl,
dt,
dd,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

div,
ul,
section,
article {
  @include scroller
}
