# -*- coding: utf-8 -*-

# importlib from celery support
importlib-metadata==3.4.0
ujson==4.1.0

Django==3.2.15
# 单元测试
django-fakeredis==0.1.2
requests==2.23.0
celery==4.4.7
redis==3.2.0
redis-py-cluster==2.1.0
django-redis==5.0.0
django-celery-beat==2.2.0
django-celery-results==2.0.1
django-dbconn-retry==0.1.5

cloudpickle==2.1.0

pytz==2019.3
gunicorn==19.6.0
urllib3==1.25.9
django-cors-headers==3.7.0
django-cors-middleware==1.3.1
django-jsonfield-backport==1.0.3
uWSGI==2.0.17.1
python-dateutil==2.7.5
djangorestframework==3.12.4
django-filter==2.4.0
arrow==0.14.2
mistune==0.8.4
gevent==1.2.2
python-consul==1.1.0
PyYAML==5.4.1
dataclasses==0.7
typing_extensions==3.7.4.3
Markdown==3.3

# for原生es
elasticsearch==7.0.0
elasticsearch5==5.5.6
elasticsearch6==6.4.2
elasticsearch_dsl==7.0.0

# kafka
kafka-python==1.4.6

# iam
cachetools==3.1.1
certifi==2020.4.5.1
chardet==3.0.4
curlify==2.2.1
idna==2.9

# qcloud cos
cos-python-sdk-v5==1.9.6

# pipeline
bamboo-pipeline==3.16.1
mock==2.0.0

# jinjia
jinja2==2.10.1

# ipython
ipython==7.16.3
jedi==0.17.2

humanize==3.11.0

# opentelemetry
protobuf==3.19.5
opentelemetry-api==1.7.1
opentelemetry-sdk==1.7.1
opentelemetry-exporter-otlp-proto-http==1.7.1
opentelemetry-exporter-otlp-proto-grpc==1.7.1
opentelemetry-semantic-conventions==0.26b1
opentelemetry-instrumentation-django==0.26b1
opentelemetry-instrumentation-elasticsearch==0.26b1
opentelemetry-instrumentation-dbapi==0.26b1
opentelemetry-instrumentation-redis==0.26b1
opentelemetry-instrumentation-requests==0.26b1
opentelemetry-instrumentation-celery==0.26b1
opentelemetry-instrumentation-logging==0.26b1


# kubernetes
kubernetes==18.20.0

# retrying
retrying==1.3.3

# bk_storage bkrepo
bkstorages==1.0.1

# telemetry
bk-monitor-report==1.0.4
django-prometheus==2.1.0

# blueapps
blueapps==4.4.2
blueapps[opentelemetry]==4.4.2
# blueapps依赖
whitenoise==5.0

# pypinyin
pypinyin==0.46.0

# pymysql
pymysql==1.0.2

# pika, rabbitmq client
pika==1.2.1

# luqum, ES Search SQL
luqum==0.12.0

# 各自环境所需的不同依赖, 通过 sites/${env}/deploy/requirements_env.txt得到
-r requirements_env.txt
