<!DOCTYPE html>
<html lang="en">
<style>
    table {
        width: 1200px;
        border: 1px solid #000000;
        border-collapse: collapse;
    }
    th {
        text-align: left;
    }
    th, td {
        border: 1px solid #000000;
        text-align: center;
        font-size: 14px;
        padding: 3px;
        min-width: 60px;
    }
</style>
<body>
<p>{{ time_config.start_time }} - {{ time_config.end_time }} {{ title }}</p>
<p>业务名称:   {{ bk_biz_name }}</p>
<p>索引集名称: {{ index_set_name }}</p>
<p>日志分析：Pattern ({{ all_patterns.patterns.pattern_count + all_patterns.new_patterns.pattern_count }})个，日志总共出现 ({{ all_patterns.patterns.log_count + all_patterns.new_patterns.log_count }}) 条</p>
<p><a href='{{ log_search_url }}'>日志详情</a></p>
<table>
    <thead>
    <tr>
        {% for header in table_headers%}
            <th>{{ header }}</th>
        {% endfor %}
        {% for header in group_by%}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% if all_patterns.new_patterns.data %}
            <p>新增{{ log_col_show_type }}示例:</p>
            {% for pattern in all_patterns.new_patterns.data %}
                <tr>
                    <td>{{ pattern.signature }}</td>
                    <td>{{ pattern.count }}</td>
                    <td>{{ pattern.percentage }}</td>
                    <td>{{ pattern.year_on_year_count }}</td>
                    <td>{{ pattern.pattern }}</td>
                    {% for group in group_by%}
                        <td>{{ group }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
        {% if all_patterns.patterns.data %}
            <p>非新增{{ log_col_show_type }}示例:</p>
            {% for pattern in all_patterns.patterns.data %}
                <tr>
                    <td>{{ pattern.signature }}</td>
                    <td>{{ pattern.count }}</td>
                    <td>{{ pattern.percentage }}</td>
                    <td>{{ pattern.year_on_year_count }}</td>
                    <td>{{ pattern.pattern }}</td>
                    {% for group in group_by%}
                        <td>{{ group }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
</body>
</html>