@mixin scroller($backgroundColor: #ddd, $width: 4px) {
  &::-webkit-scrollbar {
    width: $width;
    height: 4px;
    background-color: lighten($backgroundColor, 80%);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $width / 2;
    background-color: $backgroundColor;
  }
}
